<h2><%= link_to l(:label_cms_page_plural), pages_path %> &#187; <%=l(:label_cms_page)%> <%= link_to page_path(@page), page_url(@page) %></h2>


<% edit_page_tabs = [{:name => 'edit', :partial => 'edit', :label => :label_cms_page_plural},
        {:name => 'page_parts', :partial => 'page_parts', :label => :label_cms_part_plural}
        ]   %>   

<%= render_tabs edit_page_tabs %>