
/**************************************************************/
/*                   FOOTER MENU
/**************************************************************/
#footer ul {
  position: relative;
  float: left;
  padding-left: 0px;
  list-style: none;
}

div#footer ul li {
  display: inline;
  padding-right: 10px;
}

div#footer p {
  text-align: right;
}


/**************************************************************/
/*                   FEATURE
/**************************************************************/
div.feature {
  padding: 20px;
  border-bottom: 1px solid #AAA;
}

div.feature .feature-content {
  padding-left: 50%;
  min-height: 250px;
  height: 250px;
  position: relative;
}

.feature .feature-content img {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border: 1px solid #CCC;
}

div.feature.left .feature-content {
  padding-left: 0px;
  padding-right: 50%;
}

div.feature.left .feature-content img {
  right: 0px;
  left: initial;
}

/**************************************************************/
/*                   PAGE
/**************************************************************/

.wiki.page .wiki-anchor {
  display: none;
}

div#page_title {
  padding: 10px 0 25px;  
  text-align: center;
}

/**************************************************************/
/*                   ICONS
/**************************************************************/
#admin-menu a.cms { background-image: url(../images/sitemap_color.png);}

.icon-menu {background-image: url(../images/sitemap.png);}
.icon-page {background-image: url(../images/page_white_world.png);}

