
/**************************************************************/
/*                   PAGE
/**************************************************************/

.wiki.page .wiki-anchor {
  display: none;
}

div#page_title {
  padding: 10px 0 25px;  
  text-align: center;
}

/**************************************************************/
/*                   ICONS
/**************************************************************/
#admin-menu a.cms { background-image: url(../images/sitemap_color.png);}

.icon-menu {background-image: url(../images/sitemap.png);}
.icon-page {background-image: url(../images/page_white_world.png);}

